<p>Bonjour,<p> 
<p>Vous vous êtes récemment inscrits sur la plateforme de formation Zone01 et nous vous en remercions.<p>
  <p>  Il semblerait que vous ne soyez pas allés au bout des tests. Ne passez pas à côté de l'opportunité qui s'offre à vous.<p>
  <p>  Nous vous proposons d'en savoir plus sur Zone01 Rouen directement <a href="https://zone01rouennormandie.org">notre site</a> sur notre site , en synthèse ci-dessous ou de <a href="mailto:contact@zone01normandie.org">nous contacter</a>. <p>
<br>
<a href="https://ibb.co/wM5Dgrc"><img src="https://i.ibb.co/NZcwCnT/thumbnail-Sans-titre.png" alt="thumbnail-Sans-titre" border="0"></a>
<br>
<p>La période de séléctions est en cours, alors ne tardez plus à <a href="https://zone01normandie.org">finaliser vos tests</a> ! <p>

<p>Connecte-toi et change ta vie !<p>

<p>La Team Zone01 Rouen Normandie. <p>
<a href="https://ibb.co/54nJNxM"><img src="https://i.ibb.co/LRJsLhk/thumbnail-bannie-re-mail.png" alt="thumbnail-bannie-re-mail" border="0"></a>
