<p>Bonjour,<p> 
<p>Vous avez récemment passés les tests en ligne pour intégrer la formation au numérique Zone01 et nous vous en remercions.<p>
  <p>Vous êtes très proche de rejoindre la seconde étape !<p>
  <p>Et pour cela nous vous proposons une 2ème opportunité de devenir le futur talent codeur/développeur ! <p>
<p><a href="https://zone01rouennormandie.org">A vous de jouer !</a>
<p>Plus d'infos sur Zone01 directement sur <a href="https://zone01rouennormandie.org">notre site.</a><p>
<p>Pour toutes questions <a href="mailto:contact@zone01normandie.org">cliquez-ici</a><p>

<p>Connecte-toi et change ta vie !<p>

<p><h4>La Team Zone01 Rouen Normandie.</h4> <p>
<a href="https://ibb.co/54nJNxM"><img src="https://i.ibb.co/LRJsLhk/thumbnail-bannie-re-mail.png" alt="thumbnail-bannie-re-mail" border="0"></a>
